In [1]:
import sqlite3

In [2]:
conexion = sqlite3.connect("Ejemplo2.db")
cursor = conexion.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS Ejemplo"\
    "(nombre VARCHAR(100), años INTEGER, nivel VARCHAR(100))")
conexion.commit()
conexion.close()

In [12]:
conexion = sqlite3.connect("Ejemplo2.db")
cursor = conexion.cursor()
nombre = "Juan"
años = "21"
nivel = "Intermedio"
cursor.execute("INSERT INTO Ejemplo VALUES ('{}', {}, '{}')".format(nombre, años, nivel))
conexion.commit()
conexion.close()

In [4]:
conexion = sqlite3.connect("Ejemplo2.db")
cursor = conexion.cursor()
#NO SE OLVIDEN EL WHERE
cursor.execute("DELETE FROM Ejemplo WHERE años='21'")
conexion.commit()
conexion.close()

In [13]:
conexion = sqlite3.connect("Ejemplo2.db")
cursor = conexion.cursor()
cursor.execute("SELECT * FROM Ejemplo")
todo = cursor.fetchall()
conexion.commit()
conexion.close()
print(todo)

[('Juan', 21, 'Intermedio')]

In [6]:
conexion = sqlite3.connect("Ejemplo2.db")
cursor = conexion.cursor()
cursor.execute("UPDATE Ejemplo SET nombre='Manuel' WHERE años='21'")
conexion.commit()
conexion.close()